In [1]:
import numpy as np
import pandas as pd

In [2]:
data_list = [
    {'yyyy-mm-dd' : '1993-07-12','city' : 'suwon'},
    {'yyyy-mm-dd' : '1989-12-03','city' : 'incheon'},
    {'yyyy-mm-dd' : '1993-08-06','city' : 'seoul'}
    
]

In [3]:
df = pd.DataFrame(data_list, columns=['yyyy-mm-dd', 'city'])

In [4]:
df

   yyyy-mm-dd     city
0  1993-07-12    suwon
1  1989-12-03  incheon
2  1993-08-06    seoul

In [5]:
def extract_year(row):
    return row.split('-')[0]

In [6]:
df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [33]:
df.year

0    1993
1    1989
2    1993
Name: year, dtype: object

In [43]:
def cal_age(row, this_year):
    return this_year - row

In [46]:
df['Age'] = df['year'].apply(cal_age,this_year=20)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [30]:
def make_intro(row):
    return 'I was born in' + str(row.year) + 'at' + row.city + 'My age is' + str(row.Age)

In [22]:
df['Introduction'] = df.apply(make_intro, axis=1)

In [18]:
df.Introduction

0      I was born in1993atsuwonMy age is(2020, '1993')
1    I was born in1989atincheonMy age is(2020, '1989')
2      I was born in1993atseoulMy age is(2020, '1993')
Name: Introduction, dtype: object