In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [3]:
def name_gen():
    name_xx=''
    for i in range(5):
        letter = chr(random.randint(97,122))
        name_xx = name_xx + letter
    return name_xx

In [4]:
name_gen()

'echii'

In [5]:
names = [ name_gen() for i in range(10)]
weights = [ random.randint(45,101) for xx in names]
height = [ random.randint(150,221) for xx in names]

In [7]:
BMI_table = pd.DataFrame({
    '이름':names,
    '몸무게':weights,
    '키':height
})

In [8]:
BMI_table

      이름  몸무게    키
0  xnjmq   58  189
1  udapt  100  196
2  bxdqb   49  175
3  pkpbx   77  156
4  uwjjz   50  208
5  mvokl   48  159
6  piovf   86  171
7  ixmnr   50  192
8  kcmoo   60  162
9  wgnie   45  216

In [20]:
BMI_table['BMI_index'] = BMI_table.몸무게/(BMI_table.키/100)**2

In [21]:
BMI_table.BMI

0    16.236947
1    26.030820
2    16.000000
3    31.640368
4    11.556953
5    18.986591
6    29.410759
7    13.563368
8    22.862369
9     9.645062
Name: BMI, dtype: float64

In [22]:
def health_info(BMI):
    if BMI < 20 :
        return '저'
    elif BMI >= 20 and BMI <= 24 :
        return '정상' 
    elif BMI > 24 :
        return '과체중'

In [24]:
BMI_table['health']=BMI_table.apply(lambda x : health_info(x['BMI_index']), axis=1)

In [25]:
BMI_table

      이름  몸무게    키        BMI  BMI_index health
0  xnjmq   58  189  16.236947  16.236947      저
1  udapt  100  196  26.030820  26.030820    과체중
2  bxdqb   49  175  16.000000  16.000000      저
3  pkpbx   77  156  31.640368  31.640368    과체중
4  uwjjz   50  208  11.556953  11.556953      저
5  mvokl   48  159  18.986591  18.986591      저
6  piovf   86  171  29.410759  29.410759    과체중
7  ixmnr   50  192  13.563368  13.563368      저
8  kcmoo   60  162  22.862369  22.862369     정상
9  wgnie   45  216   9.645062   9.645062      저

In [27]:
BMI_table = BMI_table[['이름','키','몸무게','BMI_index','health']]

In [28]:
BMI_table

      이름    키  몸무게  BMI_index health
0  xnjmq  189   58  16.236947      저
1  udapt  196  100  26.030820    과체중
2  bxdqb  175   49  16.000000      저
3  pkpbx  156   77  31.640368    과체중
4  uwjjz  208   50  11.556953      저
5  mvokl  159   48  18.986591      저
6  piovf  171   86  29.410759    과체중
7  ixmnr  192   50  13.563368      저
8  kcmoo  162   60  22.862369     정상
9  wgnie  216   45   9.645062      저

In [30]:
BMI_table['health2'] = '개똥이'
index=0
for xx in BMI_table['BMI_index']:
    BMI_table.iloc[index,-1]=health_info(xx)
    index += 1

In [32]:
BMI_table.iloc[2,3]

16.0