In [1]:
import pickle

In [2]:
a=(1,2)

In [3]:
b=[3,4]

In [4]:
%%writefile kim.txt
12345
54321

Writing kim.txt

In [5]:
a = open('kim.txt')

In [11]:
print(dir(a))

['_CHUNK_SIZE', '__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '_checkClosed', '_checkReadable', '_checkSeekable', '_checkWritable', '_finalizing', 'buffer', 'close', 'closed', 'detach', 'encoding', 'errors', 'fileno', 'flush', 'isatty', 'line_buffering', 'mode', 'name', 'newlines', 'read', 'readable', 'readline', 'readlines', 'reconfigure', 'seek', 'seekable', 'tell', 'truncate', 'writable', 'write', 'write_through', 'writelines']

In [7]:
b = a.readlines() #그냥 open했다면 꼭 close문으로 닫아줘야한다

In [12]:
b

['12345\n', '54321\n']

In [13]:
a.close()

In [9]:
for xx in b:
    print(type(xx))

<class 'str'>
<class 'str'>

In [14]:
a=[1,2,3]
b=(3,4,5)
with open('kkim.pik','wb') as f:
    pickle.dump(a,f)
    pickle.dump(b,f)

In [15]:
a, type(a)

([1, 2, 3], list)

In [16]:
b, type(b)

((3, 4, 5), tuple)

In [19]:
with open('kkim.pik','rb') as f:
    x=pickle.load(f)
    y=pickle.load(f)

In [20]:
x, type(x)

([1, 2, 3], list)

In [21]:
y, type(y)

((3, 4, 5), tuple)

In [24]:
import numpy as np

In [25]:
x=np.array([1,2,3])

In [26]:
x

array([1, 2, 3])

In [27]:
np.save('numpystyle.npy',x)

In [28]:
test = np.load('numpystyle.npy', allow_pickle=True)

In [29]:
type(test)

numpy.ndarray

In [36]:
import pandas as pd

In [47]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [48]:
type(iris)

pandas.core.frame.DataFrame

In [49]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
5.1            149 non-null float64
3.5            149 non-null float64
1.4            149 non-null float64
0.2            149 non-null float64
Iris-setosa    149 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [50]:
iris.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000